{%extends 'search/base.html'%}
{% block 'body' %}
{% load static%}

<div class = "text-center">
  <div style="background-image: url({% static 'Echo_Park_Lake_with_Downtown_Los_Angeles_Skyline.jpg' %})">

    <form action ="{% url 'searched'%}" method = "POST">
      {% csrf_token %}
      <b>{{ searchforms}}</b>
      <input type="submit" value="Search">
    </form>
  </div>


   <img src="{% static 'Echo_Park_Lake_with_Downtown_Los_Angeles_Skyline.jpg' %}" class="img-fluid" alt= "Downtown Los Angeles Image">
</div>
{% endblock%}
